.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #C7E9B0;
  gap: 12px;
}

@media (min-width: 768px) {
  .titleWrapper {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .titleWrapper {
    max-width: 944px;
    margin: 0 auto;
  }
}

.titleBox {
  display: flex;
  gap: 8px;
  align-items: flex-start
}

.image {
  width: 80px;
}

.realName {
  font-size: 24px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.userTag {
  color: #666666;
  font-size: 14px;
}

.crewName {
  display: flex;
  height: 18px;
  font-size: 12px;
  gap: 2px;
}


.buttonBox {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: black;
  text-decoration: none;
  border: 1px solid #C4D7B2;
  background-color: #E1ECC8;
  padding: 8px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  cursor: Pointer;

  &:hover {
    background-color: #A0C49D;
  }
}

@media (max-width: 576px) {
  .buttonBox {
    grid-template-columns: 100%;
    gap: 4px;
  }
}