.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 20px);
  padding: 10px;
  gap: 12px;
}

@media (min-width: 576px) {
  .titleWrapper {
    max-width: 536px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .titleWrapper {
    max-width: 728px;
  }
}

@media (min-width: 1024px) {
  .titleWrapper {
    max-width: 924px;
    margin: 0 auto;
  }
}

.titleBox {
  display: flex;
  gap: 1%;
  align-items: flex-start
}

.image {
  width: 80px;
}

.realName {
  font-size: 24px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.userTag {
  color: #666666;
  font-size: 14px;
}

.crewName {
  display: flex;
  height: 18px;
  font-size: 12px;
  gap: 2px;
}


.reloadBox {
  display: flex;
  align-items: center;
}

.reloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  text-align: center;
  background-color: #9DC08B;
  border: none;
  border-radius: 4px;
  padding: 8px;
  gap: 4px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #609966;
  }
}

.copyBox {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.copyButton {
  width: 100%;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #9DC08B;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.copyButton:hover {
  background-color: #609966;
}