.userBrawlerStatsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-content: start;
  align-items: start;
  width: 100%;
  max-height: 388px;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;

  & > div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-width: 0;
    background-color: #CCE0AC;
    border: 1px solid #83BD75;
    border-radius: 4px;

    & > div:first-child {
      display: grid;
      grid-template-columns: 56px minmax(0, 1fr);
      align-items: center;
      justify-content: start;
      padding: 4px;
      gap: 6px;

      & > img {
        width: 56px;
        height: 40px;
        object-fit: contain;
        object-position: left;
        align-self: center;
      }

      & > div {
        display: flex;
        flex-direction: column;
        text-align: right;
        min-width: 0;

        & > h4 {
          margin: 0;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > div {
          color: #0b666a;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }


    & > div:last-child {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      background-color: #F1F7B5;
      border-radius: 0 0 2px 2px;

      & > div {
        display: flex;
        align-items: center;
        gap: 4px;

        & > span {
          color: #0b666a;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .userBrawlerStatsBox {
    max-height: 512px;
  }
}

.noUserBrawlerStatData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & > img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}
