.userDailyStatsBox {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;

  & > div:first-child {
    border-bottom: 1px solid #A8DE8E;
  }

  & > div text {
    font-family: "Main Medium", "JP Medium", "CN Medium", "N Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  }
}

.userDailyStatsGraphBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    padding-top: 8px;
  }
}

.selectedDate {
  font-size: 14px;
}

.nivoCalendarFrame {
  width: min(100%, 300px);
  min-width: 0;
  height: 236px;
  margin: 0 auto;
  position: relative;
  overflow: visible;

  & > div {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 576px) {
  .userDailyStatsBox {
    justify-content: center;
    gap: 0;
  }
}

@media (min-width: 768px) {
  .userDailyStatsBox {
    grid-template-columns: minmax(300px, 42%) minmax(0, 1fr);

    & > div:first-child {
      border-right: 1px solid #A8DE8E;
      border-bottom: none;
    }
  }
}

@media (min-width: 1024px) {
  .nivoCalendarFrame {
    width: min(100%, 320px);
    height: 248px;
  }
}

@media (min-width: 1280px) {
  .userDailyStatsBox {
    grid-template-columns: minmax(340px, 44%) minmax(0, 1fr);
  }

  .nivoCalendarFrame {
    width: min(100%, 340px);
    height: 262px;
  }
}

.userDailyBrawlerStatBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    padding-top: 8px;
  }

  & > div:last-child {
    height: 240px;
  }
}
