.searchItemWrapper {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  gap: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #9DC08B;
  }

  & > img {
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    object-fit: contain;
  }

  & > div {
    display: flex;
    width: 236px;
    flex-direction: column;
    gap: 8px;
  }
}

.searchItemTitle,
.searchItemContent {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.searchItemTitle {
  display: flex;
  justify-content: space-between;

  & > img {
    z-index: 1;
    width: 16px;
    object-fit: contain;
  }
}

.searchItemContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.searchItemTag {
  padding: 4px;
  border-radius: 4px;
  background-color: #9DC08B;
  font-size: 12px;
  color: #40513B;
}

.searchItemCrewName {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #B2C8BA;
  font-size: 12px;
  zoom: 0.8;
  color: #40513B;
}

.searchItemTrophy {
  display: flex;
  align-items: center;
  width: 84px;
  padding: 2px 4px;
  border: 2px solid #7F669D;
  border-radius: 4px;
  background-color: #DEBACE;
  gap: 4px;
}

.searchItemRanked {
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  padding: 2px 4px;
  border: 2px solid #BB5A5A;
  border-radius: 4px;
  background-color: #EACEB4;
  gap: 2px;
}

.searchItemTrophy > img,
.searchItemRanked > img {
  width: 16px;
  object-fit: contain;
}