.newsListWrapper {
  padding: 12px;

  & > div {
    border: none;
    background-color: unset;
    overflow-y: auto;
    width: 100%;
    padding: 0;
  }

  & > h2 {
    width: 100%;
    border-bottom: 3px solid #557153;
    padding-bottom: 8px;
    color: inherit;
  }
}

@media (min-width: 768px) {
  .newsListWrapper {
    & > div {
      display: grid;
      grid-template-columns: 49% 49%;
      justify-content: space-between;
    }

    & > h2 {
      border-bottom: 3px solid #557153;
      padding-bottom: 8px;
      color: inherit;
    }
  }
}