.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
}

.searchWrapper > img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (min-width: 576px) {
  .searchWrapper > img {
    right: 8px;
    top: 8px;
  }
}

.search {
  border: 2px solid #FF9494;
  border-radius: 4px;
  background-color: #FFE3E1;
  width: 100%;
  height: 100%;
  outline: none;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.autoComplete {
  z-index: 3;
  width: calc(100% - 28px);
  border: 2px solid #FF9494;
  border-radius: 4px;
  background-color: #FFE3E1;
  position: absolute;
  top: 45px;
  padding: 12px;
}

.autoCompleteData {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 4;
  padding: 8px;
  width: calc(100% - 28px);
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  list-style: none;

  &:hover {
    background-color: #edf5f5;
  }
}