.battleLogsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.battleLogsTitle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: #EAE7B1;
  border: 1px solid #A8DE8E;
}

@media (min-width: 576px) {
  .battleLogsTitle {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
  }
}

@media (min-width: 768px) {
  .battleLogsTitle {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: start;
    width: 100%;
  }
}

.battleLogsRecordGraph {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 380px;
  justify-items: center;
  align-items: start;
  width: 100%;
  border-bottom: 2px solid rgb(34, 124, 112);

  & > div:first-child {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(34, 124, 112);
  }

  & > div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
}

@media(min-width: 576px) {
  .battleLogsRecordGraph {
    border-bottom: none;
    border-right: 2px solid rgb(34, 124, 112);
  }
}

.battleLogsBrawlerRecord {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;

  & > div:nth-child(n+2):nth-last-child(n+2) {
    border-bottom: 1px solid rgb(34, 124, 112);
  }
}

.battleLogsText {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  gap: 2px;
}

.battleLogsTitle text {
  font-family: "Main Medium", serif !important;
}

.battleLogsBrawlers {
  display: grid;
  grid-template-columns: 12% 34% 17% 17% 17%;
  justify-content: center;
  align-items: center;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.battleLogsBrawlers > img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}

.battleLogsBrawlers > span {
  display: flex;
  justify-content: flex-end;
}

.brawlerName {
  font-size: 11px;
}

.brawlerGame {
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 8px;
  color: #0B666A;
}

.battleLogsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

@media (min-width: 768px) {
  .battleLogsContent {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    row-gap: 4px;
  }
}

.battleLogsContent > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}