.eventsSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.eventItem {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 8px;

  & > div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (min-width: 576px) {
  .eventItem {
    display: grid;
    grid-template-columns: 49% 49%;
  }
}

@media (min-width: 768px) {
  .eventItem {
    grid-template-columns: 33% 33% 33%;
  }
}

.eventsSummaryWrapper > a,
.eventItem > a {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #557153;
  padding-bottom: 8px;
  color: inherit;
  gap: 8px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}