/* brawler */

.brawlerSummaryButton {
  display: none;
}

.brawlerSummary {
  display: grid;
  grid-template-columns: 10% 32% 54% 4%;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border: 1px solid rgba(97, 130, 100, 0.8);
  background-color: rgba(208, 231, 210, 0.8);
  padding: 4px 8px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: rgba(176, 217, 177, 0.8);
  }

  & > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: left;
    border-radius: 50px;
  }

  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

.brawlerSummary > div > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.brawlerSummary > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brawlerTrophy > div:first-child {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.brawlerTrophy > div:nth-child(2) {
  font-size: 11px;
  color: #0B666A;
}