.statsSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.statsSummaryMapButton {
  display: grid;
  grid-template-columns: 6% 44% 24% 24%;
  justify-content: center;
  align-items: center;
  justify-items: start;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #9DC08B;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  gap: 4px;
  transition: background-color 0.3s;
  color: black;
  text-decoration-line: none;


  &:hover {
    background-color: #609966;
  }

  & > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  & > div {
    display: flex;
    gap: 4px;
  }
}