.userMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 300px;
}

.menuList {
  display: flex;
  background-color: #c7e9b0;
  width: 100%;

  & > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 8px 0 8px;
    gap: 8px;
    justify-content: space-between;
    list-style: none;

    & > li {
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: 576px) {
  .menuList > ul {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    justify-content: start;
    max-width: 536px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .menuList > ul {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .menuList > ul {
    max-width: 924px;
    margin: 0 auto;
  }
}

.menuList > ul > li > input {
  display: none;
}

.menuList > ul > li > label > div {
  display: flex;
  justify-content: center;
  background-color: #e1ecc8;
  border-top: 1px solid #C4D7B2;
  border-left: 1px solid #C4D7B2;
  border-right: 1px solid #C4D7B2;
  padding: 8px;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  transition: background-color 0.2s ease-in;
}

.menuList > ul > li > input:hover + label > div {
  background-color: #a0c49d;
}

.menuList > ul > li > input:checked + label > div {
  background-color: #f7ffe5;
}