.seasonDetailItemWrapper {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: calc(100% - 4px);
  padding: 4px;
  background-color: #E1ECC8;
  border: 1px solid #A8DE8E;
  border-top: none;
  font-size: 12px;
  z-index: 1;

  & > div {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;

    & > div {
      display: flex;
      align-items: center;
    }
  }
}

.iconImage {
  width: 32px;
  height: 20px;
  object-fit: contain;
}