.seasonStatsToggle {
  display: flex;
  align-items: center;
  width: 140px;
  gap: 8px;
  transition: border-bottom-color 0.3s;
}

.seasonStatsSummary {
  display: flex;
  align-items: center;
  gap: 4px;
}

.matchList {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

@media (min-width: 768px) {
  .matchList {
    grid-template-columns: 49.5% 49.5%;
    gap: 4px;
  }
}

@media (min-width: 1024px) {
  .matchList {
    grid-template-columns: 32% 32% 32%;
  }
}