.brawlerStatsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brawlerStatsSummaryBox {
  padding: 10px;
  background-color: #D597CE;

  & > div {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;

    & > div {
      display: flex;
      gap: 8px;

      & > img {
        width: 32px;
        object-fit: contain;
        align-self: center;
      }
    }
  }
}

@media (min-width: 576px) {
  .brawlerStatsSummaryBox > div {
    grid-template-columns: 24% 24% 24% 24%;
  }
}

.brawlerRateTitle {
  font-size: 14px;
  color: #fff2ef;
}

.brawlerRateContent {
  display: flex;
  gap: 4px;
  font-size: 16px;
}

.statsSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.statsSummaryMapButton {
  display: grid;
  grid-template-columns: 6% 44% 24% 24%;
  justify-content: center;
  align-items: center;
  justify-items: start;
  padding: 8px;
  background-color: #9DC08B;
  border: 1px solid #4E944F;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  gap: 4px;
  transition: background-color 0.3s;
  color: black;
  text-decoration-line: none;


  &:hover {
    background-color: #609966;
  }

  & > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  & > div {
    display: flex;
    gap: 4px;
  }
}