.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 12px;
  min-width: 320px;
  padding-bottom: 12px;
}

@media (min-width: 576px) {
  .app {
    align-items: normal;
    width: 556px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .app {
    width: 748px;
  }
}

@media (min-width: 1024px) {
  .app {
    width: 1004px;
  }
}

@media (min-width: 1280px) {
  .app {
    width: 1260px;
  }
}

.bold {
  font-weight: 800;
}

.trophyRoadColor {
  color: #2C74B3;
}

.rareColor {
  color: #1E5128;
}

.superRareColor {
  color: #144272;
}

.epicColor {
  color: #511845;
}

.mythicColor {
  color: #C70039;
}

.legendaryColor {
  color: #FF5733;
}

.trophyRoadBackground {
  background-color: #CDFCF6;
}

.rareBackground {
  background-color: #C3EDC0;
}

.superRareBackground {
  background-color: #BCCEF8;
}

.epicBackground {
  background-color: #B2A4FF;
}

.mythicBackground {
  background-color: #FFB4B4;
}

.legendaryBackground {
  background-color: #FDF7C3;
}

.nivoLegend {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 4px;
  background-color: #643843;
  gap: 4px;
  padding: 12px;
  color: white;
  font-size: 13px;

  & > span:last-child {
    color: #E7CBCB;
  }
}