@font-face{
    font-family: "Main Medium";
    src: url(../../fonts/KoBrawlGothicBold.woff) format("woff");
    font-display: swap;
    unicode-range: U+AC00-D7A3;
}

@font-face{
    font-family: "Main Bold";
    src: url(../../fonts/KoBrawlDisplayBold.woff) format("woff");
    font-display: swap;
    unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A;
}

@font-face{
    font-family: "N Medium";
    src: url(../../fonts/EnBrawlGothicBold.woff) format("woff");
    font-display: swap;
    unicode-range: U+0030-0039, U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face{
    font-family: "JP Medium";
    src: url(../../fonts/JPNotoSansBold.woff) format("woff");
    font-display: optional;
    unicode-range: U+3040-309F, U+30A0-30FF;
}

@font-face{
    font-family: "CN Medium";
    src: url(../../fonts/CnBrawlGothicBold.woff) format("woff");
    font-display: optional;
    unicode-range: U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF;
}

@font-face{
    font-family: "Logo Font";
    src: url(../../fonts/Uniwars.woff) format("woff");
    font-display: swap;
}
