@import url(fonts.css);

body{
    margin: 0;
    padding: 0;
    font-family: "Main Medium", "JP Medium", "CN Medium", "N Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dceadf;
}

::-webkit-scrollbar{
    width: 6px; /* ?�크롤바???�비 */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-thumb{
    height: 30%; /* ?�크롤바??길이 */
    background: #2CC4CB; /* ?�크롤바???�상 */

    border-radius: 4px;
}

::-webkit-scrollbar-track{
    background: rgba(25, 114, 164, 0.1); /*?�크롤바 ??배경 ?�상*/
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button{
    font-family: "Main Medium", "JP Medium", "CN Medium", "N Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

h1, h2, h3,
h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
    text-wrap: wrap;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}