.friendsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.friendsList {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  gap: 4px;
}

.moreButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 576px) {
  .friendsList {
    grid-template-columns: 49.5% 49.5%;
  }
}

@media (min-width: 1024px) {
  .friendsList {
    grid-template-columns: 33% 33% 33%;
  }
}