@font-face {
    font-family: "Main Bold";
    src: url(../../fonts/RoundBod.woff) format("truetype");
}

@font-face {
    font-family: "Main Medium";
    src: url(../../fonts/RoundReg.woff) format("truetype");
}

@font-face {
    font-family: "Logo Font";
    src: url(../../fonts/Uniwars.woff) format("truetype");
}