.app {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  gap: 8px;
}

@media (min-width: 576px) {
  .app {
    width: 556px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .app {
    grid-template-columns: 49% 49%;
    width: 748px;
  }
}

@media (min-width: 1024px) {
  .app {
    max-width: 924px;
  }
}

.app a {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #557153;
  padding-bottom: 8px;
  color: inherit;
  gap: 8px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.app a:hover {
  text-decoration: underline;
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
