.mapWrapper {
  display: flex;
  flex-direction: column;
}

.mapTitle {
  display: flex;
  justify-content: space-around;
  background-color: #C4DFAA;
  padding: 12px;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.mapTitle > div {
  display: flex;
  align-items: center;
}

.mapTitle > div > img {
  height: 28px;
  margin-right: 6px;
  align-self: center;
}

.mapImage {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.mapImage > img {
  width: 40%;
  object-fit: cover;
  object-position: center;
}