.mapWrapper {
  display: flex;
  flex-direction: column;
}

.mapTitle {
  display: flex;
  justify-content: space-around;
  background-color: #A8D1D1;
  padding: 12px;
  font-family: "Main Bold", serif;
  font-size: 24px;
}

.mapTitle > div {
  display: flex;
  align-items: center;
}

.mapTitle > div > img {
  height: 28px;
  margin-right: 6px;
  align-self: center;
}

.mapImage {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.mapImage > img {
  width: 60%;
  object-fit: cover;
  object-position: center;
}