.resultFieldWrapper {
  display: flex;
  position: absolute;
  top: 48px;
  width: 100%;
  max-height: 320px;
  border: 2px solid #609966;
  border-radius: 8px;
  background-color: #EDF1D6;
  overflow-y: scroll;
  font-size: 16px;
  z-index: 4;

  & > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
  }

  & > ul > li {
    padding: 4px;
  }
}

.searchItem {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  gap: 8px;
  transition: background-color 0.3s;

  & > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & > div > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.searchItem:hover {
  background-color: #9DC08B;
}

.searchItemTitle {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.searchItemTag {
  padding: 4px;
  border-radius: 4px;
  background-color: #9DC08B;
  font-size: 8px;
  color: #40513B;
}

.searchItemContent {
  display: flex;
  font-size: 12px;
  gap: 4px;

  & img {
    width: 12px;
    height: 12px;
    object-fit: contain;
  }
}

.searchItemTL {
  display: flex;
  align-items: center;
  padding: 2px 4px 2px 4px;
  border: 2px solid #7F669D;
  border-radius: 4px;
  background-color: #DEBACE;
  gap: 4px;
}

.searchItemPLS {
  display: flex;
  align-items: center;
  padding: 2px 4px 2px 4px;
  border: 2px solid #BB5A5A;
  border-radius: 4px;
  background-color: #EACEB4;
  gap: 4px;
}

.searchItemPLT {
  display: flex;
  align-items: center;
  padding: 2px 4px 2px 4px;
  border: 2px solid #7286D3;
  border-radius: 4px;
  background-color: #E5E0FF;
  gap: 4px;
}

.addAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: #FBC687;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #EA907A;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & > div > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  & > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}