.battleLogsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 10px;
}

.battleLogsTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px;
  background-color: #EAE7B1;
  border: 2px solid #A8DE8E;
  border-radius: 6px;
  gap: 4px;
}

@media (min-width: 576px) {
  .battleLogsTitle {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
  }
}

@media (min-width: 768px) {
  .battleLogsTitle {
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: start;
  }
}

.battleLogsRecordGraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.battleLogsBrawlerRecord {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.battleLogsText {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  gap: 2px;
}

.battleLogsTitle text {
  font-family: "Main Medium", serif !important;
}

.battleLogsBrawlers {
  display: grid;
  grid-template-columns: 12% 28% 19% 19% 19%;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.battleLogsBrawlers > img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}

.battleLogsBrawlers > span {
  display: flex;
  justify-content: flex-end;
}

.brawlerName {
  font-size: 11px;
}

.brawlerGame {
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  color: #0B666A;
}

.battleLogsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

@media (min-width: 768px) {
  .battleLogsContent {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    row-gap: 4px;
  }
}

.battleLogsContent > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}