.battleSummaryWrapper {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: start;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2px 0 2px 0;
  }

  & > div:first-child {
    border-bottom: 2px solid rgb(34, 124, 112);
  }
}

.battleSummaryWrapper > div text {
  font-family: "Main Medium", serif !important;
}

@media (min-width: 576px) {
  .battleSummaryWrapper {
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 0;
  }

  .battleSummaryWrapper > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.calendarLegend {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  background-color: #643843;
  gap: 4px;
  padding: 10px;
  color: white;
  font-size: 13px;
}

.battleDate {
  color: #E7CBCB;
}

.brawlerPicksWrapper > div {
  display: grid;
  grid-template-columns: 10% 30% 20% 20%;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #227C70;
  padding: 4px;
  gap: 8px;
  font-size: 12px;
}

.brawlerPicksWrapper > div:last-child {
  border-bottom: none;
}

@media (min-width: 576px) {
  .battleSummaryWrapper > div:first-child {
    border-right: 2px solid #227C70;
    border-bottom: none;
  }
}

.brawlerPicksWrapper > div > img {
  width: 100%;
  height: 32px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}

.brawlerPicksContent > div:first-child {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.brawlerPicksContent > div:nth-child(2) {
  display: flex;
  font-size: 8px;
  color: #0B666A;
  gap: 4px;
}