.eventWrapper {
  display: flex;
  flex-direction: column;
}

.eventTitle {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 16% 82%;
  gap: 8px;
  padding: 8px;
  background-color: #393646;
  color: white;
}

.eventTitle > div {
  display: flex;
  flex-direction: column;
}

.eventTitle > div > div {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 4px;
}

.eventTitle > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}

.content {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.eventBanner {
  width: 100%;
}