.battlesWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.battlesTitle {
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.battleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EAE7B1;
  border: 2px solid #A8DE8E;
  border-radius: 6px;
}

.battleContentMenus {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #A8DE8E;
  padding: 4px;
}

.battleButton {
  width: 100%;
  text-align: center;
  background-color: #088395;
  border-top: 2px solid #227C70;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 6px 0 8px 0;
  color: #E6E2C3;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}
