.typeMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.typeMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: #E1ECC8;
  border-top: 1px solid #83BD75;
  border-left: 1px solid #83BD75;
  border-right: 1px solid #83BD75;
  border-bottom: none;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  gap: 4px;
  transition: background-color 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: #A0C49D;
  }

  & > img {
    height: 20px;
    object-fit: contain;
    object-position: center;
    align-self: center;
  }
}

.typeMenuList {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 576px) {
  .typeMenuList {
    width: 160px;
  }
}

.typeButton {
  display: none;
}

.typeButton + label {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 0 8px 8px;
  border-bottom: 1px solid #83BD75;
  border-left: 1px solid #83BD75;
  border-right: 1px solid #83BD75;
  background-color: #E1ECC8;
  font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  gap: 4px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.typeButton:first-child + label {
  border-top: 1px solid #83BD75;
}

.typeButton + label > img {
  width: 40px;
  height: 20px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}

.typeButton:checked + label,
.typeButton + label:hover {
  background-color: #A0C49D;
}