.mapListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}

.modeTitle {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 12px;
  background-color: #7F669D;
  border-radius: 8px;
  font-family: "Main Medium", serif;
  font-size: 20px;
  gap: 8px;

  & > img {
    width: 24px;
  }
}

.modeList {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  width: 100%;
}

@media (min-width: 576px) {
  .modeTitle {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .modeTitle {
    max-width: 728px;
  }

  .modeList {
    justify-content: space-between;
    max-width: 728px;
  }
}

@media (min-width: 1024px) {
  .modeTitle {
    max-width: 924px;
  }

  .modeList {
    max-width: 924px;
    margin: 0 auto;
  }
}