.eventsWrapper {
  display: grid;
  justify-content: space-between;
  margin: 0 10px;
}

@media (min-width: 576px) {
  .eventsWrapper {
    max-width: 536px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .eventsWrapper {
    grid-template-columns: 49% 49%;
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .eventsWrapper {
    max-width: 924px;
    margin: 0 auto;
  }
}