.modeFilterWrapper {
  display: grid;
  width: calc(100% - 20px);
  grid-template-columns: 49% 49%;
  align-items: center;
  padding: 8px;
  gap: 8px;

  & > a {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px;
    background: #E1ECC8;
    border: 1px solid #83BD75;
    text-decoration-line: none;
    gap: 4px;
    color: black;
    font-family: "Main Medium", serif;
    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: rgba(176, 217, 177, 0.8);
    }

    & > img {
      width: 24px;
      object-fit: contain;
    }
  }
}

@media (min-width: 576px) {
  .modeFilterWrapper {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (min-width: 768px) {
  .modeFilterWrapper {
    margin: 0 auto;
    max-width: 728px;
  }
}

@media (min-width: 1024px) {
  .modeFilterWrapper {
    max-width: 924px;
  }
}
