/* header-title */

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  height: 40px;
}

.titleWrapper img {
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 410px) {
  .titleWrapper img {
    width: 360px;
  }
}

.menuWrapper {
  min-width: 360px;
  height: 60px;
  padding: 8px 0 8px 0;
  background-color: #343A40;
  color: white;
}

.menuWrapper > div {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.menuLogo {
  width: 40px;
}

@media (min-width: 576px) {
  .menuWrapper > div {
    max-width: 556px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .menuWrapper > div {
    max-width: 748px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .menuWrapper > div {
    max-width: 924px;
    margin: 0 auto;
  }
}

.menuLogo {
  padding: 12px;
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.menuToggle {
  display: flex;
  padding: 12px;

  & > svg {
    cursor: pointer;
  }
}

@media (min-width: 576px) {
  .menuToggle {
    display: none;
  }
}

.menuList {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 18px;
  column-gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .menuList {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: #343A40;
    z-index: 9;
  }
}

.menuList > li {
  padding: 0;
}

.menuList > li > a {
  color: white;
  text-decoration-line: none;
}