.seasonContent {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.seasonTotalSummaryBox {
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}