.userRecordsContent {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 12px;
  align-items: stretch;

  & > div {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .userRecordsContent {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;

    & > div {
      width: calc(50% - 5px);
    }
  }
}
