.friendsContent {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.friendsTitleBox {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.friendsListBox {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  gap: 4px;
}

.moreButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 576px) {
  .friendsListBox {
    grid-template-columns: 49.5% 49.5%;
  }
}

@media (min-width: 1024px) {
  .friendsListBox {
    grid-template-columns: 33% 33% 33%;
  }
}