.headWrapper {
  display: table-caption;
  padding: 10px;
  border-bottom: 1px solid #4E944F;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #83BD75;
  text-align: center;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}