.footerWrapper {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding: 20px;
  background-color: #343A40;
}

.footerWrapper > div {
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
}

.footerWrapper > div > a {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}