.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: #343A40;
  color: white;
  gap: 20px;
}

.footerLinks {
  display: flex;
  justify-content: start;
  width: 380px;
  gap: 20px;

  & > a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 8px;
  }
}

.languageMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 80px;
  height: 20px;
  padding: 8px;
  border-radius: 4px;
  background-color: #9DC08B;

  & > ul {
    position: absolute;
    bottom: 40px;
    width: 80px;
    list-style: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #9DC08B;
  }

  & > ul span {
    width: 100%;
  }
}