.brawlerStatsWrapper {
  display: grid;
  grid-template-columns: 49% 49%;
  margin: 0 10px;
  padding: 8px;
  gap: 8px;
}

@media (min-width: 576px) {
  .brawlerStatsWrapper {
    width: 536px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .brawlerStatsWrapper {
    grid-template-columns: 32% 32% 32%;
    width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .brawlerStatsWrapper {
    width: 924px;
    margin: 0 auto;
  }
}

.brawlerStatsItem {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 3px solid #39375B;
  border-radius: 8px;
  background-color: #F4F7C5;
  text-decoration: none;
  color: black;
  gap: 4px;
}

.brawlerTitle {
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 6px 6px 0 0;
  background-color: #A8D1D1;
  font-family: "Main Bold", serif;
  font-size: 18px;
  gap: 8px;
}

.brawlerTitle > img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.brawlerContent {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;
}

.brawlerContent > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textRate {
  font-weight: 800;
}