.userSeasonButtonBox {
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 180px;
  gap: 8px;
  cursor: pointer;
  transition: border-bottom-color 0.3s;
}

.seasonTypeSummaryBox {
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.matchListBox {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
}

@media (min-width: 768px) {
  .matchListBox {
    grid-template-columns: 49.5% 49.5%;
    gap: 4px;
  }
}

@media (min-width: 1024px) {
  .matchListBox {
    grid-template-columns: 32% 32% 32%;
  }
}