.footerWrapper {
  box-sizing: border-box;
  position: relative;
  z-index: 40;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 280px;
  min-height: 76px;
  padding: 12px 20px;
  flex-shrink: 0;
  background-color: #343A40;
  color: white;
  gap: 12px;
  font-size: 12px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  & > a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
  }

  & svg {
    font-size: 14px;
  }

  & h2 {
    font-size: 14px;
  }
}

.languageMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: min(280px, calc(100% - 24px));
  height: 20px;
  padding: 8px;
  border-radius: 4px;
  background-color: #9DC08B;

  & > ul {
    position: absolute;
    bottom: 32px;
    width: 320px;
    list-style: none;
    padding: 8px;
    border-radius: 4px;
    background-color: #9DC08B;

    & > li {
      cursor: pointer;
      padding-bottom: 12px;
    }
  }

  & div {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .footerWrapper {
    flex-direction: row;
    gap: 20px;

    & svg {
      font-size: 16px;
    }
  }

  .footerLinks {
    justify-content: flex-start;

    & > a > div {
      font-size: 18px;
    }
  }

  .languageMenu {
    width: 80px;

    & > div {
      font-size: 18px;
    }

    & > ul {
      width: 80px;
    }
  }
}
