.brawlerItem {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  transition: filter 0.2s;

  &:hover {
    filter: grayscale(100%);
  }
}

.brawlerItemToolTip {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: #D7C0AE;
  border: 2px solid #967E76;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
  z-index: 2;
  top: 40px;
}

.itemName {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
}