.brawlerSummaryItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  gap: 4px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: #A9AF7E;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
    }

    & > img {
      height: 36px;
      object-fit: contain;
    }
  }
}

.brawlerSummaryItemName {
  align-items: center;
  font-size: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #0B666A;

  & > h4 {
    width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }
}

.brawlerSummaryItemRate {
  padding: 4px;

  & > div {
    width: 80px
  }
}