.brawlerSummaryItemWrapper {
  display: grid;
  grid-template-columns: 42% 57%;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: #A9AF7E;
  }

  & > div {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
    }

    & > img {
      height: 36px;
      object-fit: contain;
    }
  }
}

.brawlerSummaryItemName {
  align-items: center;
  font-size: 12px;
}

.brawlerSummaryItemRate {
  padding: 12px 8px 12px 4px;
}