@import url(common/css/fonts.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Main Medium", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E5F9DB;
}

::-webkit-scrollbar {
    width: 6px; /* 스크롤바의 너비 */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #2CC4CB; /* 스크롤바의 색상 */

    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background: rgba(25, 114, 164, 0.1); /*스크롤바 뒷 배경 색상*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}