.brawlersSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brawlersTypeMenu {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  justify-content: space-between;
  padding: 4px;
}

.brawlersTypeMenu img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.brawlersTypeMenuTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Main Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.brawlersTypeMenu > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brawlerItem {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #A9AF7E;
  background-color: #E6E5A3;
  padding: 12px 4px;
  gap: 8px;
}

.brawlerItem > div {
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.brawlerItem > div > div {
  display: flex;
  flex-direction: column;
}

.brawlerItem > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
