.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  gap: 8px;
}

@media (min-width: 576px) {
  .app {
    width: 556px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .app {
    width: 748px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .app {
    width: 924px;
    margin: 0 auto;
  }
}
