/* brawlers 틀 */

.brawlersWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brawlersTitle {
  font-family: "Main Bold", serif;
  font-size: 24px;
}

.brawlersContent {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  row-gap: 8px;
}

@media (min-width: 768px) {
  .brawlersContent {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    justify-content: space-between;
    row-gap: 8px;
  }
}

.brawlersContent > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brawlerDetail {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 6px;
  padding: 12px;
  font-size: 13px;
}

.brawlerDetail > div {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}

.brawlerDetail text {
  font-family: "Main Bold", serif !important;
}
